
.dashboard-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: Arial, sans-serif;

}

.dashboard-content {
    background: white;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 800px;
    width: 100%;
    transition: transform 0.3s ease; 
}

.dashboard-content:hover {
    transform: scale(1.05);
}

/* Button styling */
.zoom-button {
    transition: transform 0.3s ease; 
}

.zoom-button:hover {
    transform: scale(1.1); 
}

.rainbow-heading {
    width: 700px;
    height: 120px;
    font-size: 4rem;
    background: linear-gradient(45deg, red, orange, yellow, green, blue, indigo, violet);
    -webkit-background-clip: text; 
    -webkit-text-fill-color: transparent; 
    background-clip: text;
    color: transparent;
    text-align: center;
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: #f8f9fa;
    border-bottom: 1px solid #e0e0e0;
}

.navbar-left {
    flex: 1;
}

.navbar-heading {
    font-size: 1.5rem;
    color: #007bff; /* Blue color */
    font-weight: bold;
    margin: 0;
}

.navbar-right {
    flex: 2;
    display: flex;
    justify-content: flex-end;
}

.navbar-button {
    background: none;
    border: none;
    color: #007bff;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    cursor: pointer;
    margin-left: 1rem;
    transition: color 0.3s ease, border-bottom 0.3s ease;
}

.navbar-button:hover {
    color: #0056b3;
    border-bottom: 2px solid #0056b3;
}
